<main class="contenedor">
    <form action="/editar-perfil" class="default-form" method="POST" enctype="multipart/form-data">
        <h2>Mis Datos</h2>
        <div class="campo">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" value="{{auth.nombre}}" placeholder="Ingresa tu Nombre"
                required>
        </div>
        <div class="campo">
            <label for="email">E-Mail:</label>
            <input type="email" name="email" id="email" value="{{auth.email}}" placeholder="Ingresa tu E-Mail" required>
        </div>
        <div class="campo">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="¿Quieres cambiar tu contraseña?">
        </div>
        <div class="campo">
            <label for="imagen">Imagen</label>
            <input type="file" name="imagen" id="imagen" placeholder="Foto de Perfíl"/>
            <img src="/uploads/perfiles/{{auth.imagen}}" alt="perfil" class="admin-perfil" />
        </div>
        <div class="campo">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>
    </form>
</main>