<main class="contendor">
    <form action="/restablecer-password" class="default-form" method="POST">
        <div class="campo">
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email" />
        </div>
        <div class="campo acciones">
            <a href="/login">Ya recorde mi contraseña</a>
        </div>
        <div class="campo">
            <input type="submit" value="Restablecer" class="btn btn-azul" />
        </div>
    </form>
</main>