<main class="contenedor">
    <form action="/login" method="POST" class="default-form">
        <div class="campo">
            <label for="email">Ingrese su E-Mail</label>
            <input type="email" name="email" id="email" placeholder="Ingrese su E-Mail" required />
        </div>
        <div class="campo">
            <label for="password">Ingrese su Password</label>
            <input type="password" name="password" id="password" placeholder="Ingrese su Password" required />
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta"> Crear cuenta</a>
            <a href="/restablecer-password"> Restablecer Password</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>
</main>